[2015-06-19 10:06] ostinelli opened #1 "Add a remove_node helper"
In case a node is permanently removed from a cluster, allow to remove it from the underlying mnesia database db_nodes.

[2015-10-20 22:34] vjache opened #2 "Process entry do not cleaned up if register under more then one key."
The i_find_by_pid(...) at.

https://github.com/ostinelli/syn/blob/master/src/syn_backbone.erl#L331

expects a list with only one element which is not correct due to process can be registered more than once, i.e. under several different aliases. As a consequence, such a process will never be cleaned up and table will "leak".

I have tried to solve this issue in an ongoing pull request(just as an il

[2015-10-21 12:24] ostinelli commented on #2
This is incorrect. If a key already exists, syn will return `{error, taken}`:
https://github.com/ostinelli/syn/blob/master/src/syn_backbone.erl#L114

Why do you think this is not the case?

[2015-10-21 12:26] ostinelli commented on #2
This is a good point. Will investigate and provide a patch. Thanks.

[2015-10-21 12:26] ostinelli commented on #2
I would actually think not to allow to register a pid under several alias, what do you think?

[2015-10-23 11:18] vjache commented on #2
I think it is ok to constrain with registration of only one key per process, at least this keep current API unchanged. But a couple of moments arise:
1) to make check & write atomic, it is required to use transaction, which makes registration not so fast. An alternative is to use additional gen_server for registration of local pids.
2) also what if the same pid tried to be registered with the same

[2015-12-03 13:47] ostinelli commented on #2
Hi, thank you for raising this. Commit ad53b6e20f499e9cf0d5ee005f6f6fd867653e13 tackles this with the following choices:

 * Ensure atomicity at node level (still without using a mnesia transaction). This is achieved by making all the registrations happens inside the `syn_backbone` gen_server process. This means that all registrations on one node are forcefully sequential. Of course, this doesn't

[2015-12-03 13:47] #2 closed

[2016-02-26 10:10] ostinelli opened #5 "Should we check if a process is alive when resolving conflicts?"
Using `is_alive`?

[2016-03-06 08:44] fycth opened #6 "syn:join fails for some Names"
You claim that Name is any(), but there is an issue:

[code]

I fixed this by using term_to_binary:

[code]

I am not sure how to fix this. Would it be OK to just wrapping Name with term_to_binary? Or the possible solution lies deeper in the code?

[2016-03-06 10:54] ostinelli commented on #6
Thank you @fycth, this has also been reported by @5HT in his [tweet](https://twitter.com/5HT/status/706243083923488768).

This is fixed in 0c4096b87cf883840c30987a304da700520aad39.

[2016-03-06 10:54] #6 closed

[2016-03-09 16:57] ostinelli commented on #5
This is probably not necessary, since every node monitors the processes that are running on it.
Hence, during conflict resolution there should not be any dead processes anyway in mnesia.

Closing.

[2016-03-09 16:57] #5 closed

[2016-03-23 21:27] cjimison opened #7 "Add meta to processes in groups"
It would be nice if I could have a group with a set of keys inside of it.  For example:  I have a collection of processes that belong to a group.  However I need to make sure that certain requests always goes to a specific process within the group.

Group -> [{Key, Pid}, {Key2, Pid2}]

This way I can hash the requester ID to one of these Pid's in the group.  Right now I have to pull all the proces

[2016-03-24 16:54] ostinelli commented on #7
Hello!
I don't quite understand your use case: you're both registering Pids with their own name, and then adding those Pids to groups. Are you suggesting to add metadata to pids in a group, or a function that retrieves their registration name (if they have previously been registered)?

Use case aside, I think that adding metadata to processes might be interesting. I am also considering adding meta

[2016-03-24 17:49] cjimison commented on #7
Sure.  So I have a Transaction System with a bunch of processes and I want to make sure I can pass a request to read/modify a users data.  It is important that the same process does this work because it is for a game and order really matters to us. (Example:  I got 10 gold, then two people try to steals 10 gold from me at the same time.  One should succeed and one should fail, and since we use ria

[2016-03-24 18:51] ostinelli commented on #7
Thank you for your feedback @cjimison. I will get back to you on all the rest, but let me clarify that (in case you are) you shouldn't count on the order of member pids in the array returned by `syn:get_members/1`. The order is not guaranteed to match the order of joins, nor to be the same in successive calls.

Syn being eventually consistent, ensuring a proper join order would require a mechanism

[2016-03-24 18:59] ostinelli commented on #7
I think I may have found a simple way to guarantee the order in which members are returned. Would that matter to you?

[2016-03-24 19:00] cjimison commented on #7
Responses bellow:

Yep.  Which is why I wanted to assign a piece of meta data that I can use to order the list.

Since we control the meta value assigned to the group/pid I can sort it according and get something close enough (since these processes don’t come and go very often).  The meta values we use are unique per node/cluster and we do use the vclock returned from Riak to further resolve consi

[2016-03-24 19:01] cjimison commented on #7
That works too.  Both would be awesome for sure :)

-Chris

[2016-03-28 09:27] loguntsov opened #9 "Multi aliases registration for process."
I think the multi aliases feature should be live, because only library users can know real purpose of registration.
I need register process by several aliases. It is very useful for me.
I can make patch for that, but not sure that it will be included in main code.

i met:

1> syn:register(a, self()).
ok
2> syn:register(b, self()).
{error,pid_already_registered}

how i can use syn for multi aliases

[2016-03-28 18:20] ostinelli commented on #9
The default behaviour of Syn will be to uniquely identify a process by its name. This is consistent with Erlang's register functionalities:

[code]

That being said, I can understand your request and my proposal would be to set an option on Syn on whether to allow for registering aliases. Something sych as:

[code]

Would that work for you?

[2016-03-28 18:51] loguntsov commented on #9
Hi.

I got your point. I think the global option is not good thing, because your registry will be not pure and behaviour of it will depend from external option.

I think no reason to support same behavior as from global module. Just give us useful library :)

So what do you think if I will develop this logic by default for your library?

[2016-03-28 19:36] ostinelli commented on #9
"Not pure", because a behaviour depends on an option? I'm sorry but this is exactly what options are for: customize a behaviour. It's the same as enforcing a uniqueness of a key in a system: this may be optional.

I've offered to provide a different behaviour based on an optional setting, however you don't fancy my proposal and insist on changing the current default behaviour and code it yourself.

[2016-03-28 20:40] loguntsov commented on #9
Я имел в виду, что этот вариант позволит отделить поведение библиотеки. Он может сделать ошибок в будущем (человеческий фактор).

Спасибо за Ваше мнение.

В любом случае я думаю, что будет форк библиотеки для моих целей.

[2016-03-28 20:42] loguntsov commented on #9
Sorry :)

I meant that this option will allow confusion in   behaviour of library. It can make mistakes in the future (human factor).

Thanks for your opinion.

Anyway I think that will fork your library for my purposes.

[2016-03-28 21:04] ostinelli commented on #9
Ok. :) I'll keep this here open for now.

[2016-03-29 12:23] ostinelli commented on #7
@cjimison the order in which pids are returned is now guaranteed, as per f278419a7104b08f130a7afeddb0fb3427f091ef.

Still working on adding meta to Groups.

[2016-04-02 10:27] tank-bohr opened #10 "Ability to add `on_exit` callback for group processes in the same manner as for registry one"
I needed this for the use case from README

To send a system message about user leaving chatroom

[2016-04-19 08:07] elpddev opened #11 "Using syn in dynamic nodes loading topology"
Given an app, which its nodes are not determined at the start, can Syn be used in that context?

The app in my case can accept new manually started nodes to scale performance. My problem is: The connection between the new node and the cluster can be initiate from the new node, or from one of the cluster old nodes.

From what I see in the syn source, at syn:init, there is a step to initialize mnesi

[2016-04-21 12:56] ostinelli commented on #11
I don't know what is the connection initializer you are referring to, however as per the README you should just call `syn:init/1` from the newly added node - after it has connected to the other nodes in the cluster.

You can do it:

 * When you start your app on the new node, just like in the README's example;
 * Listening to the events that tell you a new node is up, and calling `syn:init/1` on t

[2016-04-23 07:36] elpddev commented on #11
Thank you for the reply.
I will check how this integrates with the architecture (I think of using erlang node connect event) I have at hand an open another question if needed.

[2016-04-23 07:36] #11 closed

[2016-04-28 07:49] essen opened #12 "Add a timeout option to multi_call"
Would be good to have the ability to configure the timeout value for syn:multi_call. For example multi_call/3 with an added Timeout argument. 5000 is a good default but it doesn't fit all use cases.

Additionally it might be worth to monitor to exit early if a crash happened. I think this functionality should try to mirror the gen:call mechanism as much as possible, otherwise it can be dangerous.

[2016-04-29 11:57] ostinelli commented on #12
Very nice suggestion. With the moniroting, do you actually suggest to monitor all of the recipient of the multi_call, and add the ones that eventually crash to the list of the `BadPids`?

[2016-04-29 11:59] essen commented on #12
Yes. The timeout is great as an upper limit if the process is too busy or locked, but if it crashed or the node is down we definitely want to know sooner, especially for larger timeout values.

[2016-04-29 13:28] ostinelli commented on #12
Ok. Unless someone enters a PR for this I will be on it asap.

[2016-04-29 13:31] essen commented on #12
I'm not sure my customer will settle on syn yet so that's all the time I can dedicate right now. :-) But I will check again later on. Thanks for considering it.

[2016-04-29 15:17] ostinelli commented on #12
@essen, this should conclude the enhancement requested. This implementation:

 * Allows to pass a custom Timeout value.
 * Monitors recipient processes so that if they exit they are immediately added to the list of bad pids.

Let me know if this works for you and I'll package a new Syn.

[2016-04-29 15:50] essen commented on #12
Now that you have a reference (the monitor) the next logical thing to do would be to enable the selective receive optimization (when a reference is created in the same function as a receive block that includes said reference in all clauses). But this implies changing the interface for the messages since you need to pass that reference.

Otherwise looks good, and I don't use that function yet in th

[2016-04-29 16:00] ostinelli commented on #12
Isn't this what I'm doing?
https://github.com/ostinelli/syn/blob/96904230c33ed618c2969aaecf96d0f3ba2349f0/src/syn_groups.erl#L297

Good to know :)

[2016-04-29 16:06] essen commented on #12
You need to do it here also: https://github.com/ostinelli/syn/blob/96904230c33ed618c2969aaecf96d0f3ba2349f0/src/syn_groups.erl#L295

If the process receiving has a large mailbox, having a reference in that message will avoid looking up the whole mailbox every time a message is received.

[2016-04-29 18:56] ostinelli commented on #12
Got it.

[2016-04-30 07:20] ostinelli commented on #12
Got it, but this is not the case here.

For every recipient, a new process is spawned to send out the call and collect the response. You can see that one process is spawned for every recipient [here](https://github.com/ostinelli/syn/blob/96904230c33ed618c2969aaecf96d0f3ba2349f0/src/syn_groups.erl#L100). These spawned processes are dedicated to receiving the response from only one recipient, so the

[2016-04-30 08:37] essen commented on #12
No it makes sense. Forgot about the spawn. On the other hand the problem exists at https://github.com/ostinelli/syn/blob/96904230c33ed618c2969aaecf96d0f3ba2349f0/src/syn_groups.erl#L310

A bit worried that this receive has no timeout/monitor either, it seems there's an assumption that the multi_call_and_receive process will never die and always send a response back, which is perhaps too optimistic

[2016-04-30 09:03] ostinelli commented on #12
This is actually managed. :)

As you can see the multi_call_and_receive processes are [spawn_linked](https://github.com/ostinelli/syn/blob/96904230c33ed618c2969aaecf96d0f3ba2349f0/src/syn_groups.erl#L100) to the process that originally requests the multi_call.

So, if one of multi_call_and_receive processes was to die (highly unlikely, but still) then the process that originally requested the mult

[2016-04-30 09:04] essen commented on #12
Sounds good. I think I need to wake up. :-)

[2016-04-30 11:15] ostinelli commented on #12
:) Ok then, looks like I can close this issue.

[2016-04-30 11:15] #12 closed

[2016-04-30 11:18] essen commented on #12
Yep, thanks!

[2016-05-03 07:48] ostinelli commented on #10
Thank you for the suggestion.

We can add this, but for your specific case you probably have your transport's callback on when a user disconnects, and use that.

[2016-05-03 08:36] ostinelli commented on #12
This is now part of syn 1.3.1.

[2016-05-03 16:39] cjimison opened #13 "Callback for on process enter"
It would be nice to have a local callback for when a progress has been added to the registry in the same way there is an exit and on conflict.  This way I don't have to poll the group/etc for new membership, etc.

registry_process_enter_callback, [my_callback, callback_on_process_enter]

[2016-05-03 16:52] ostinelli commented on #13
Hi @cjimison,
Contrary to exit callbacks, it is actually easy to do what you desire without the additional complication of callbacks.

A process that adds itself just has to publish to the group the fact that it joined, which is way  simpler for me. This is all there's to it:
[code]

[2016-05-03 17:27] cjimison commented on #13
Totally.  Just thinking about symmetry of the API is all.

-Chris

[2016-05-14 21:48] vitor-moymer opened #14 "Pid registered on more than one Group is not removed from them when is killed"
on syn_groups  just the case of a process being in one  group is handled when a process receive Exit signal

[code]

[2016-05-15 08:32] #14 closed

[2016-05-15 09:37] ostinelli commented on #14
Fixed and released as 1.4.0.

[2016-05-15 09:45] ostinelli commented on #9
No further action, so closing. Thank you for your proposal.

[2016-05-15 17:52] ondevsergeyl commented on #9
Аll actions are inside my repository: https://github.com/loguntsov/syn
You can learn all changes, and if you need i can make pull request.

Thanks.

[2016-05-16 05:24] loguntsov commented on #9
Аll actions are inside my repository: https://github.com/loguntsov/syn
You can learn all changes, and if you need i can make pull request.

Thanks.

[2016-05-23 11:29] ylankgz opened #15 "Error on exit in Elixir"
I'm getting error on exit with reason `{:shutdown, :left}` inside elixir phoenix. Is it possible to customize the  `handle_info EXIT` in `syn_registry.erl` to avoid this error?

[2016-05-23 14:16] ostinelli commented on #15
Can you please expand, as I don't know what you are referring to.

[2016-05-23 14:37] ylankgz commented on #15
Yes, sure. We have handle_info EXIT:
[code]
In my case the Reason is `{shutdown, left}` (not `normal` or `killed`), so it gives me error_msg. I would like to get rid of this error. Maybe log errors for myself, or change this callback in sys.config?

[2016-05-23 14:54] ostinelli commented on #15
In Erlang anything besides `normal` is to be considered a process exit error. In Syn we consider `killed` as being ok too, because processes can get killed in case of conflict resolution, and only for this reason we accept it. I will actually change this soon to use a syn-specific error.

If you are exiting a process with a reason other than `normal`, such as `{shutdown, left}`. I recommend changi

[2016-05-23 16:43] ylankgz commented on #15
Yes exactly, I'm using `Callback on process exit`
[code]
And in my `sys.config`
[code]
But it's still showing me error_msg next to the warning_msg:
[code]
Is that correct behaviour?

[2016-05-23 17:29] ostinelli commented on #15
As I said, you need to modify your architecture to *not* exit your processes with `{shutdown, left}`. I can't really know why are you doing so in the first place. :)

[2016-05-24 05:47] ylankgz commented on #15
It's a vendor issue. I solved it with gen_server. BTW, Syn works perfectly in a cluster, thanks you for your efforts!

[2016-05-24 07:39] ostinelli commented on #15
Ok, closing.

[2016-05-24 07:39] #15 closed

[2016-05-31 19:03] meyercm opened #16 "Elixir crash on startup"
Following the instructions in the readme, I have the following application section in Mix.exs:

[code]

And in MyMod.start/2:

[code]

When I start the application via `iex -S mix`, I get the following error:
[code]

Adding `:mnesia.start` before `:syn.init` allows the application to start, but I'm concerned that there might be a side-effect I'm not anticipating, or an issue I might not see in sin

[2016-05-31 20:39] hubertlepicki commented on #16
As far as I understand you do need mnesia running. But I would not start it like you do, with :mnesia.start, but rather put it into your mix.exs like this:

[code]

[2016-05-31 21:40] meyercm commented on #16
I can't tell what has changed, but my original code now works properly; that is, `:mnesia` is *not* required in the applications list.  The only possibility that makes sense is that I was running outdated code.

Thanks for taking the time to look at this; I'm embarrassed to have wasted it.

[2016-05-31 21:40] #16 closed

[2016-06-01 08:24] ostinelli commented on #16
@meyercm and @hubertlepicki you shouldn't need to require mnesia additionally, since it is already included in the list of [syn's applications](https://github.com/ostinelli/syn/blob/1.4.0/src/syn.app.src#L14).

@meyercm if you get additional insights please keep me updated.

[2016-06-01 09:37] meyercm commented on #16
I'm still not 100% certain how I was able to produce the problem; my best guess is that in renaming my project, my editor had both the original and the moved `mix.exs` open, and I was alternately editing them without realizing it.  I was able to create a fresh project without any issues.

[2016-06-01 09:51] ostinelli commented on #16
Ok, thank you for the feedback.

[2016-06-01 09:52] meyercm opened #17 "Add :local / :global semantics"
I recognize that being able to share group names / process keys across nodes is the primary purpose; however, there are several cases where I'd like to be able to restrict the sharing to the local node, yet retain the API and functionality of `:syn`.

Specifically, I'm looking at a homogenous codebase that is started in N instances; for each of them I'd like to be able to create multiple groups of

[2016-06-01 10:25] ostinelli commented on #17
Thank you for the feedback @meyercm.

As far as I understand your need, wouldn't being able to retrieve only the local pids of a group be enough for you? Something along the lines of:

[code]

And then publishing to only local members:

[code]

[2016-06-01 10:37] meyercm commented on #17
That would be excellent for groups.

How would you handle local registration? The sticking point seems to be when a process is registered locally with a key, and a different process is registered globally with the same key.

Splitting based on function name could work:
[code]
or via arity;
[code]

[2016-06-01 10:51] ostinelli commented on #17
I'm not really keen on adding these functionalities, because there are already a variety of alternatives.

For instance, what is wrong with the `register` module itself for your intents?

[2016-06-01 11:47] meyercm commented on #17
BIF `register/2` requires an atom for the name; `syn:register` allows arbitrary registration names. I could do dynamic atom generation, but that smells funny, aside from being mildly dangerous.

I was previously using `:gproc` for this functionality, but my new project is moving into a multi-node setup, where performant solutions are not in abundance (as I saw in your blog post).  I could use `:gp

[2016-06-01 15:12] ostinelli commented on #17
Understood, this makes sense.

Thank you for your feedback, will evaluate and see if others chime in too.

[2016-07-07 06:02] heri16 opened #19 "Add Support for Elixir"
We need to add support for Elxiir "via-tuple" ProcessRegistry API.
Note: Gproc already supports this, making usage easier in Elixir without introducing another wrapper.

Example Target Usage:
[code]

[2016-07-07 06:16] heri16 commented on #19
Created a pull request #18

[2016-08-02 16:11] ephe-meral commented on #17
Yes please! :)

[2016-08-04 08:44] ephe-meral opened #22 "Enable gen_server name via tuples for process groups"
Currently we only support `gen_server` via tuples for single processes, i.e. you can start a gen_server with a name that is managed by `syn`, but that name cannot be a process group.

It would be interesting to transparently support groups as well, because you can then use one `gen_server:cast/2` to send a cast to a group of processes, managed by `syn`.

`gproc` has this feature, by means of match

[2016-08-04 17:20] kwrooijen commented on #10
Would be nice if you could add callbacks for specific groups, instead of adding it to sys.config like you would do for the registry. Just looked through the source and if I'm understanding it correctly, we could simply add a genserver call to add a callback to the group state, and then execute any callbacks on the leave / handle_info flows.

I might be wrong since I just started using this (really

[2016-08-05 07:19] getong opened #23 "1.5 tag not found in git repo."

[2016-08-06 16:35] ostinelli commented on #23
Added, thank you.

[2016-08-06 16:35] #23 closed

[2016-08-06 16:47] ostinelli commented on #22
Hello Johanna,
Thank you for this issue, it's worthy a discussion.

Contrary to you, I've never particularly liked gproc's API. I always had to look in the READE to find the tuple format for what I wanted. BTW, here and in other discussions I'm not trying to reimplement in Syn how gproc works (there's already gproc for that :) ).

That being said, and to better understand your request: what do you

[2016-08-06 16:49] ostinelli commented on #10
Thank you for your feedback, this can be another enhancement on its own.

[2016-08-06 17:45] ostinelli commented on #17
The current implementation of the `{via, syn, <<"your process name">>}` tuple does not allow the developer to specify whether the gen_server process should be `global` or `local`, since everything in Syn is global by default (at least, currently).

If we add the global/local as requested here, we also need to specify whether a process is `local` or `global`.

This requires some API semantics to co

[2016-08-06 18:01] ostinelli commented on #17
Here are two implementation possibilities.

### 1. `local_*` prefix
We add all the existing functions with the `local_*` prefix, such as, for registry functions:
[code]
and for process groups functions:
[code]

### 2. `local` diversifier
We could also use the same names but have the `local` atom diversifier as first argument:

[code]
and
[code]

Any preferences / arguments for one vs the other?

A

[2016-08-06 18:07] ostinelli commented on #7
@cjimison this is now in master. Can you please take a look and provide feedback?

Thank you!

[2016-08-06 19:05] ostinelli commented on #10
What suggested by @tank-bohr is now implemented. Can you please check?

@kwrooijen, if you're interested can you please open another dedicated issue for this so that we can properly track your request?

[2016-08-06 20:19] ephe-meral commented on #17
@ostinelli I like nr. 1 and also the tuple solution, for the reason that it doesn't break the signature of the existing functions, but rather adds new (special case, so to say) functionality... Though I wonder, is it necessary to specify it for all these functions explicitly? Because maybe its enough to have it only explicitly when you register a name or join a group - which would make this a litt

[2016-08-06 20:37] ephe-meral commented on #22
You're right about the difficulty to understand `gproc`'s tuples, but we could make them more self-explanatory ;)
But anyhow, I wouldn't see it so much for the case of using it as a name during the start (I dont even know whether thats possible in `gproc`...) - where I see the value of it, and where I use it, is when you implement a typical OTP `gen_server` that uses standard API / Callback separa

[2016-08-06 21:01] ostinelli commented on #17
Ok, let me give you some examples of what I'm thinking. Let's follow what you suggest and specify whether a process is global or local only when you register. If so, on `node1`:

[code]

What should the second expression do?
Return an error, since `my_proc` is already registered locally?

What if we tried to register the same `my_proc` key but on a different `node2`, and globally:

[code]

What sh

[2016-08-06 21:05] ostinelli commented on #22
Am I understanding this correctly that all of this issue is about is that whatever message is sent with Syn gets received by a `gen_server` as a `cast` message instead of a `info` one?

[2016-08-06 21:18] kwrooijen commented on #10
@ostinelli After re-evaluating my own problem I've figured out a better way to solve it. So I personally don't need this feature. So I'll leave it up to you if you actually think this feature would fit syn or not. Thanks!

[2016-08-07 07:14] ephe-meral commented on #22
Well more or less yes - it can also be other fire-and-forget messages specified by behaviours that use the process name feature, like e.g. `gen_event:notify/2` etc, so what message is received by the process depends on the concrete behaviour used in the implementation.

[2016-08-07 07:16] ephe-meral commented on #17
Yep, that's a good point indeed.

[2016-08-07 12:05] tank-bohr commented on #10
@ostinelli Thanks a lot for your work! In spite of the fact that I used your advise about transport's callback it could be rather useful feature. And for consistency sane (the group processes now have the same api as registry ones). As my proposal had been implemented entirely I think this issue could be closed. Tanks!

[2016-08-07 12:05] #10 closed

[2016-08-10 08:56] ephe-meral commented on #17
Thinking about this, maybe it would be another option to encourage the use of `syn` for global process name registration, and the use for `gproc` etc. for local name registration? That way we'd have a better separation of concerns and wouldn't need to re-define the wheel...

[2016-08-13 17:03] ostinelli commented on #17
Will think about it a little more. @meyercm has a point too.

[2016-08-13 17:04] #7 closed

[2016-08-16 19:50] marianoguerra commented on #17
I would like to have this, I want to use syn as process registry and for the pub/sub on top of riak_core, so riak_core will deliver the command to the physical node, so I don't need global processes.

Hope it adds something to the conversation :)

[2016-08-16 19:52] essen commented on #17
Considering the way syn has been designed so far, I'd say don't.

syn:get_local_members(Name) and friends would already be plenty enough.

If you have a scenario where you need to register one process per node with the same name, you can easily do it with a group and get_local_members. I'd suggest adding that and seeing what happens. It can be useful for this use case and more.

Proper local/globa

[2016-08-17 13:31] ostinelli commented on #17
Thank you for these additional inputs.

@marianoguerra I understand that you currently do not use Syn then, since Syn's main purpose is to allow for global name registry and process groups.

@essen are you suggesting to only implement a `syn:local_members/1` for groups only?

[2016-08-17 13:34] ostinelli commented on #17
Another possibility (just putting it out here) is to have a `syn_local` module which mimics everything of the `syn` module, except that it covers only local registration.

[2016-08-17 13:38] marianoguerra commented on #17
I played with it in a prototype because I like the API and covers what I need, but in the riak_core case it wouldn't fit.

regarding a different lib, if it's easier for you to split in syn, syn_local both reusing code from a third module synlib or similar it would be ok for me.

[2016-08-17 15:46] essen commented on #17
@ostinelli Yes, just add functions to groups to get/publish to local members and from that you can build a lot of great things without much effort.

[2016-08-17 17:15] ephe-meral commented on #17
@essen though this doesn't disable the distribution of the local group members, which I guess impacts the distributed system as a whole. (Thinking about scaling - sending possibly unnecessary messages doesn't sound so good)

[2016-08-17 17:28] essen commented on #17
Depends on your use case though. I can see many cases where I want both the pids on all nodes, or the pids only on the local node (obvious example would be sending data everywhere but reading locally).

What are the use cases for local-only, and would they be resulting in a lot of messages being sent? Or would that be negligible for most cases? There's always gproc if you really need it.

[2016-09-30 10:40] ostinelli commented on #17
Re-reading all of this issue after a while, it seems to me that it is diverting from the original syn scope too much, which is to be `global`. I will therefore add, as discussed:

[code]

And then publishing to only local members:

[code]

This should cover most of the cases. I agree, @ephe-meral, that this might generate some unnecessary noise, but having seen syn resolve conflicts on clusters wi

[2016-09-30 10:47] ostinelli commented on #13
Callbacks for process exits are necessary, simply because there isn't another way to do that (unless you start monitoring processes independently which would be silly since Syn does this already).

On the contrary, callbacks for process enter can easily be solved with alternative solutions, which in my opinion will all be more readable than callbacks in a config file.

Hence, I'll slip this and cl

[2016-09-30 10:47] #13 closed

[2016-11-02 15:53] seb3s opened #24 "Leaving on process group misfunctioning"
When we leave a process that belongs to multiple groups, it is unlinked. This should be the case only when that process belongs to one group and only one. Otherwise the gen_server is no more able to track EXIT messages to properly clean the other groups that process belongs to when it will die.

[2016-11-02 17:24] ephe-meral opened #25 "Timeouts from remote nodes don't have any consequence"
I'm using Syn in an environment where hosts are being dynamically deployed, i.e. they join and leave the cluster without manual configuration and without control from within the node. Sometimes this leads to inconsistencies, where process that were registered on a remote node will be still in the local table, but will not respond because the remote node doesn't respond.
This leads to timeouts, eve

[2016-11-04 17:13] ostinelli commented on #25
Thank you for your report.

My understanding is that [this](https://github.com/ostinelli/syn/blob/1.5.0/src/syn_consistency.erl#L128) should take care of your case. Since according to your statements this is not working, I will need a way to reproduce what you're seeing (in a test) so that we can fix this.

[2016-11-04 18:05] ephe-meral commented on #25
Thanks for the hint, I'll need to evaluate this and report back :)
I also don't understand the full detail of why the node was still in the cluster but processes were not reachable, so I'll have to investigate that as well... but it seems it can happen when e.g. messages queue up in one process and memory runs out.

[2016-11-08 14:48] ostinelli commented on #25
Ok, let me know.

[2016-11-08 18:02] dcsommer commented on #17
I am looking for pg2 replacements, and syn's lack of `get_local_members/1` and `which_groups/0` (and perhaps `get_closest_pid/1` although I could implement myself on top of `get_local_members/1` and the existing API) is all that is holding me back from trying syn. So +1 for adding some simple read-only local API.

[2016-11-08 19:33] dcsommer opened #28 "Which OTP versions are supported?"
I didn't see a description anywhere which versions are supported. I would assume R18 since that was around the time this was written, but I am also curious about R19.

[2016-11-09 13:32] ostinelli commented on #28
Take a look at [.travis.yml](https://github.com/ostinelli/syn/blob/master/.travis.yml).

I haven't added R19 yet simply because I don't know if it's currently supported by Travis. I haven't found any official docs on which versions are supported, if you have any idea where to find that list - it sould be appreciated ^^_

[2016-11-09 13:34] ostinelli commented on #17
@dcsommer thanks for the feedback.

[2016-11-10 15:37] ostinelli commented on #28
I've updated the list of Travis builds yesterday, supported up to 19.1:
https://travis-ci.org/ostinelli/syn

[2016-11-10 15:37] #28 closed

[2016-11-10 15:38] ostinelli commented on #24
Thank you, merged in.

[2016-11-10 15:38] #24 closed

[2016-11-10 15:39] ostinelli commented on #17
Added `syn:get_local_members/1,2` and `syn:publish_to_local/2` functions in Syn `1.6.0`, closing.

[2016-11-10 15:39] #17 closed

[2016-11-10 18:01] ephe-meral commented on #25
@ostinelli I tried to find out what the exact state of the stuck VM was, but it seems its impossible to reconstruct now. Since the node doesnt get kicked from the cluster there is probably also no best solution towards fixing this. The only thing we get is timeouts... we could escalate and at some point kick the node manually but I guess its not something that can be done by syn generically. So I

[2016-11-10 18:38] ostinelli commented on #25
@ephe-meral not sure if this can help you, but I use Syn jointly with [cowbell](https://github.com/ostinelli/cowbell) which handles timeouts and reconnections.

[2016-11-10 18:42] ostinelli commented on #25
Closing for now, please reopen if you have more info.

[2016-11-10 18:42] #25 closed

[2016-11-10 20:31] ephe-meral commented on #25
Ah thanks, so I'll see if cowbell fits that scenario then :)

[2016-11-14 01:09] ZGF4 opened #29 "Not unregistering exited processes"
I'm having an issue where it seems like syn is not unregistering processes when they exit.  I'm able to get a pid from `syn:whereis_name` but if I try to send messages to the result I get a `no such process` error.  I've verified the process indeed does not exist.

Any idea?

[2016-11-14 10:23] ostinelli commented on #29
Syn is eventually consistent. Even if it's fast, it can still take a little while in a distributed system have a process be unregistered (you can find some benchmarks [here](http://www.ostinelli.net/an-evaluation-of-erlang-global-process-registries-meet-syn/)). Is this the case?

If not, then I'd need to know more and have a way to reproduce, because I've not seen this behavior and would need a fi

[2016-11-14 14:42] dax0 commented on #29
The process actually never ends up being unregistered until I unregister it
manually.  I haven't yet been able to reproduce it consistently but I'll
try to dig into it.  The scenario it's happening under is a GenServer stops
itself but it doesn't get unregistered

On Mon, Nov 14, 2016, 5:23 AM Roberto Ostinelli <notifications@github.com>
wrote:

Syn is eventually consistent. Even if it's fast, it

[2016-11-14 16:13] ostinelli commented on #29
Again: What functions are you using? How do you "manually unregister it"? Without details there isn't much help that I can provide. :)

[2016-11-14 16:38] dax0 commented on #29
Sorry for the sparse information I'm going to debug more and come back with better information.  I'm on 1.5 but I'm going to try 1.6 and by manually unregister I meant calling `syn:unregister`

[2016-12-04 20:06] malmovich commented on #29
I have the exact same issue and are also using syn:register and syn:find_by_key. It seems to happen when there are multiple processes each on different nodes that tries to register a specific name

[2016-12-04 20:45] malmovich commented on #29
I have the exact same issue and are also using `syn:register` and `syn:find_by_key`. It seems to happen when there are multiple processes, each living on different nodes, that is trying to register the same key simultaneously.  When it gets into the error state, it can be resolved by calling `syn:unregister`, just as dax0 explained.
The setup is a three node cluster running syn v1.6 (also tried wi

[2016-12-21 11:23] ostinelli commented on #29
@malmovich mnesia will send a message when it gets inconsistent, which is what you are referring to. When it does, syn gets the message and it resolves the conflicts, see [here](https://github.com/ostinelli/syn/blob/1.6.0/src/syn_consistency.erl#L123).

Are you seeing any messages in the logs?

[2017-01-03 15:23] ostinelli commented on #29
@dax0 and @malmovich did you get a chance to look into this (logs, etc)? Thank you.

[2017-02-28 09:42] ostinelli commented on #29
Closing due to no activity.

[2017-02-28 09:42] #29 closed

[2017-03-26 17:15] jeremytregunna opened #30 "Not able to receive messages to a process group after node split rejoin"
I've got two nodes, A and B which service users who can communicate with one another. In the event A splits from B, and later rejoins, A no longer receives messages originated from B. Since I can't call `syn.init()` again, how do I correct this behavior?

[2017-03-27 13:07] ostinelli commented on #30
You shouldn't do anything, Syn will perform [the merge](https://github.com/ostinelli/syn/blob/1.6.0/src/syn_consistency.erl#L123) for you automatically after node B rejoins.

Are you sure the two nodes reconnected? Erlang alone won't do this since it does not manage reconnection. For instance in production systems I use Syn in conjunction with [Cowbell](https://github.com/ostinelli/cowbell).

[2017-03-27 13:09] jeremytregunna commented on #30
Yeah I'm reconnecting for sure. Project is actually an Elixir project, and I'm running this through iex. So I'm manually issuing a `Node.connect :"app@1.2.3.4"` and checking `Node.list` after.

[2017-03-27 13:20] ostinelli commented on #30
@jeremytregunna I don't know what you are experiencing. There currently is a [test suite](https://github.com/ostinelli/syn/blob/1.6.0/test/syn_groups_consistency_SUITE.erl) that covers this, on top of actually having seen it amend in production environments myself more than once.

Care to show me how to reproduce? Erlang only though.

[2017-03-29 16:48] jeremytregunna commented on #30
I've not been able to reproduce after building a small test. Clearly there's an issue with my main app. Thank you. Closing.

[2017-03-29 16:48] #30 closed

[2017-04-02 18:08] Spyes opened #31 "Turn off logging when process disconnects"
Hi,

First of all - great work! This library is solving a lot of issues for me, and with great ease! Thanks!
My only issue is that when a process disconnects, syn prints an error log (syn_groups.erl#L264) - I don't see in the code any way to turn that off, or maybe I'm missing something? For my project, it's very normal for a process to terminate in an "unhealthy" way, which means that my log is f

[2017-04-03 12:19] ostinelli commented on #31
In Erlang anything besides `normal` is to be considered a process exit error. In Syn we consider `killed` as not generating errors too, because processes can get killed in case of conflict resolution. I am actually considering to change this to a syn-specific exit error instead.

If you are exiting a process with a reason other than `normal`, I recommend changing your architecture instead or use t

[2017-04-03 12:23] Spyes commented on #31
Okay, I will give the callback a try. Changing my architecture is a bit more tricky, because the connections are websockets and I have no way of controlling how they exit (they are on the client side, and could close for various reasons which would still be considered "healthy").
Are you suggesting monitoring those sockets/processes for exits, and then cleanly exiting syn via that monitor?

[2017-04-03 12:26] ostinelli commented on #31
Syn already monitors them for you so I wouldn't do that. I'm recommending to avoid having processes die for other reasons than `normal` if they are, in fact, acceptable exit reasons.

[2017-04-03 12:49] Spyes commented on #31
not sure that is possible for me, because like I said, I'm monitoring websockets and it's impossible for me to control how they are closed... but I'll try the callback approach. Thanks!

[2017-04-05 05:11] Spyes commented on #31
@ostinelli  I'm trying to use the callback method, however I'm writing a Phoenix app in Elixir.. do you have any experience running Syn in Elixir? Where do I pass the config options? Tried under config/config.exs to no avail.. and I can't find process_group_process_exit_callback anywhere in the code to try to debug it for myself..

[2017-04-06 08:51] essen opened #32 "Syn rejects some names"
Syn doesn't accept some names as the following snippet shows, despite saying it accepts `any()`.

Probably related to #3 and actually sounds like the problem was fixed in the past and is back.

[code]

[2017-04-06 08:56] deadtrickster commented on #32
Can confirm, also tuple like {atom(), map()} not working too.

[2017-04-06 16:51] ostinelli commented on #32
Thanks for your reports. I guess you were referring to https://github.com/ostinelli/syn/issues/6, the issue there was that the match operator is different for tuples in `mnesia:dirty_select/2` (see [here](https://github.com/ostinelli/syn/commit/0c4096b87cf883840c30987a304da700520aad39#diff-380b3c348d4e254e6f24cd76016c3179R221)).

Will get to it.

[2017-04-06 16:54] essen commented on #32
Yes, #6, sorry.

[2017-04-06 16:55] ostinelli commented on #32
Before I get to that, do you happen to know why the match guard function is different for tuples, and if this has changed in Erlang 19.3?

[2017-04-06 17:15] essen commented on #32
I have no idea. And for the record, I was using 19.2.

[2017-04-07 13:48] #32 closed

[2017-04-07 13:50] essen commented on #32
Thanks! We will try it soon and report back.

[2017-04-07 13:57] ostinelli commented on #32
I will release it to hex as 1.6.1 asa Travis is green too.

[2017-04-07 13:59] ostinelli commented on #31
The callback won't change the issue you are having with abnormal exit signals of your processes. These will still generate logs.

[2017-04-07 14:26] ostinelli commented on #32
`1.6.1` has been released.

[2017-04-10 14:39] ostinelli commented on #22
Doing some cleanup on old issues. Is this something you'd still be interested in? Did you have the time to think for an API related to this issue?

[2017-05-08 10:46] nifoc commented on #9
Sorry to comment on such an old issue, but I basically pretty much need the same thing.

Just having an option to allow aliases would totally work for me.

[2017-06-06 06:27] zhaohansprt opened #33 "how to customize nodes groups that which need syn and which do not"

[2017-06-06 09:14] ostinelli commented on #33
I'll need more info than this if you'd fancy a response. :)

[2017-06-07 15:47] ostinelli commented on #31
Closing due to no activity.

[2017-06-07 15:47] #31 closed

[2017-06-13 08:55] lang100 opened #34 "connection between nodes"
hi,
Trying to get started with syn, but it doesn't seem to work :
I have two node in my machine (`foo@my-pc` and `bar@my-pc`).
in `foo` i have a simple genserver that is started with this name : `{:via, :syn, :example_server}`,
and handles a `:get` call.
running : `GenServer.whereis({:via, :syn, :example_server})`
gives me the pid.
My problem is in `bar`:
I connected the nodes :
Node.connect :'foo

[2017-06-13 12:22] cystbear commented on #34
👍   same for me there

I'll create separate issue with Erlang code inside, but not Elixir.

[2017-06-13 13:14] cystbear opened #35 "Looks like nodes does not sync between each other"
Hi,

I am currently trying to setup `Syn` with 2-nodes cluster app. Here are steps to reproduce my case:

 - At first at my app `start/2` I connect nodes between each other via `net_kernel:connect/1`;
 - Next I call `syn:init/0` to initialize `Syn` itself;
 - After initialization during app is working, I call `syn:join({user, UserId}, self(),  [ %% META_HERE %%]).`;
 - Later to check that everythi

[2017-06-21 12:38] cystbear commented on #35
I just found the issue, I have some miss configuration of Mnesia and got this error message during `mnesia:change_config/2` at `syn_backbone:initdb/0`

Here is error message

[code]

So, I tuned my Mnesia and everything fine at the moment, related PR #36

[2017-06-21 12:39] #35 closed

[2017-06-21 12:39] cystbear commented on #34
Hey @lang100 take a look https://github.com/ostinelli/syn/issues/35#issuecomment-310065548

[2017-06-22 09:09] ostinelli commented on #34
There isn't enough information for me to provide feedback. Please see if your configurations are correct, including the one @cystbear refers to.

[2017-07-15 05:56] cookkkie opened #37 "Registering processes timing out"
Hi,

I do have to register 2k processes (sometimes more) at the exact same time. And sometimes `join/2` was timing out. Is there a solution about that?

Thanks.

UPDATE: I just saw your blog post with the syn benchmark. I don't understand why I cannot achieve that. Registry messages keep getting stuck in the :syn_groups genserver. The only possible reason I could find is that I also heavily do :mn

[2017-09-13 16:50] #34 closed

[2017-09-14 10:14] #33 closed

[2017-09-14 10:14] ostinelli commented on #37
Hi @cookkkie did you manage to solve what you were experiencing?

[2017-09-18 11:43] cookkkie commented on #37
Yeah, basically I partitioned the :syn_registry and :syn_groups. 1 per scheduler. It works well better now 👌

[2017-09-18 11:43] #37 closed

[2018-01-30 20:08] tommysrn opened #40 "Feature request (group count)"
Just like process registries have a `syn:registry_count()` and `syn:registry_count(Node)`, would it be possible to have something similar for groups (get the total number of groups and number of local groups)?
I'm wondering if there's a way to do that without impacting performance (maybe adding counters somewhere).
If you point me in the right direction I could also look at how to implement this m

[2018-01-30 20:17] tommysrn commented on #40
Just adding some notes: `mnesia:table_info(syn_groups_table, size).` could be used but I'm not sure if you use table fragmentation.

[2019-03-28 19:10] kevinwilson541 commented on #1
Hey @ostinelli, I can help out with this. My understanding of this would mean that in `syn_consistency`, a `handle_info` handler would need to be added that would call `mnesia:del_table_copy` on the external node being removed from the cluster.

Only question I have is how to detect that permanent removal state. Should that be handled by the outside application using syn, where this `remove_node`

[2019-11-18 16:19] ostinelli commented on #1
Closing as unneeded in v2.

[2019-11-18 16:19] #1 closed

[2019-11-18 16:20] ostinelli commented on #9
Implemented in v2, thank you.

[2019-11-18 16:20] #9 closed

[2019-11-18 16:20] ostinelli commented on #22
No activity, closing.

[2019-11-18 16:20] #22 closed

[2019-11-23 03:23] DmitryKakurin opened #44 "Syn never reconciles 2 processes with the same name"
Hello Roberto,

I'm facing an issue with `syn` where duplicate processes with the same name can be registered (on different Erlang nodes) and `syn` never kills the duplicates.

I've tried with both `:syn` `v1.6.3` and with `v2.0-rc.1` and it reproes with both.

My repro steps are:
1. Start 3 Erlang nodes on the same machine
2. Interconnect them into Erlang cluster
3. Call `:syn.init` on each one (

[2019-11-23 11:12] ostinelli commented on #44
Hello Dmitry,
Not sure about your process but what I seem to understand is that you are having 1 process per node registered with "123", but the registered process is different per node. Please confirm that this is correct.

If so, what you are experiencing is a registration race condition. I'm already improving these registrations, can you please check the [race_conditions](https://github.com/ost

[2019-11-25 02:36] Jokery opened #45 "can syn be used only on parts of nodes in cluster"
for example, i have node A_1, A_2, B_1, B_2, and i only run syn on node A_1, A_2, will cause error

`Terminating with reason: {badarg,[{erlang,length,[{badrpc,{'EXIT',{undef,[{syn_registry,sync_get_local_registry_tuples,['A_1@127.0.0.1'],[]},{rpc,'-handle_call_call/6-fun-0-',5,[{file,"rpc.erl"},{line,197}]}]}}}],[]},{syn_registry,'-handle_info/2-fun-1-',2,[{file,"src/syn_registry.erl"},{line,237}]

[2019-11-25 09:30] ostinelli commented on #45
Correct, this is by design so that Syn can automatically manage dynamic clusters.

[2019-11-25 13:41] ostinelli commented on #44
`2.0.1` is out, please check and let me know. If it doesn't solve what you are experiencing, let me have runnable code to reproduce. Thanks,
r.

[2019-11-25 18:50] DmitryKakurin commented on #44
Thank you for such a quick turnaround, really appreciate your help! I’ll try it today and will extract a repro if it’s not fixed.

[2019-11-26 02:41] DmitryKakurin commented on #44
So far I was unable to repro with `2.0.1`, will run more tests and will let you know.

[2019-11-26 08:46] ostinelli commented on #44
Closing. Feel free to re-open if you are able to reproduce, with code that would allow me to proceed. Thank you.

[2019-11-26 08:46] #44 closed

[2019-11-26 22:32] DmitryKakurin commented on #44
Thanks a lot Roberto!
I don't often receive this level of support for commercial products :-).

I did a lot of testing with `v2.0.1`, and even though sometimes more than one process "123" gets created, the conflict is very quickly resolved and one of the processes gets killed (big improvement from `v2.0.0`). That's what I expect, especially given my artificially precise synchronization of creation

[2019-12-08 14:39] vkatsuba commented on #40
Hi @ostinelli,

Here is PR https://github.com/ostinelli/syn/pull/46 for `syn:groups_count/0 and `syn:groups_count/1`

Best Regards,
--V

[2019-12-16 17:18] ostinelli commented on #40
Implemented in 65dc15493fbf2363f1a144803672c2c64be9f260. Will be included in `2.1.0`.

[2019-12-16 17:18] #40 closed

[2019-12-17 17:44] hissssst opened #47 "Feature request (anycast)"
I found myself implementing this feature many times and I think that this feature would be useful to be shipped with syn.
By _anycast_ I mean sending message to one process of the group which is choosen with some algorithm.

Possible algorithms:
* Random member of group
* Round robin
* Random process on the same node

I don't think that in would be useful, but _anycall_ would make sense too

[2020-02-14 10:26] bajankristof opened #48 "syn doesn't seem to deregister a process in some cases"
It looks like in some cases when starting a gen_server process via syn through a supervisor if the process crashes and the supervisor restarts it I get an already_started error which I imagine is because the process isn't unregistered fast enough (?) I am just guessing here.

Anyway if I replace the {via, syn, Name} with {local, Name} it works as expected (but naturally I want to use syn to be abl

[2020-02-14 10:50] bajankristof commented on #48
I'm running this on macOS with the below versions:
Erlang/OTP 22 [erts-10.6.4] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe] [dtrace]
rebar 3.13.0 on Erlang/OTP 22 Erts 10.6.4

[2020-02-14 11:29] ostinelli commented on #48
Hello @bajankristof,
I apologize but I cannot dedicate the time to go through your code, generate a docker image, and try repeated times to reproduce the error. Let me see if we can pinpoint your issue though.

- Are you running it on a single node or in a cluster?
- What happens if you wait before you restart the process, or if you start it manually afterwards. Does it get registered as expected?

[2020-02-14 12:00] bajankristof commented on #48
Thanks for the reply and I totally understand.

1. I'm running it on a single node
2. Here's a list of things that I tried:
    1. start the process without supervision -> kill it -> restart it manually (this works as intended)
    2. start the process with supervision and temporary restart strategy -> kill it -> restart it manually (this works as intended as well)
    3. start the process with su

[2020-04-25 08:10] ostinelli commented on #48
Hello, sorry for the late reply. Unfortunately I do not see enough here in the logs to understand where I could eventually start looking. I do not see any logs from syn in the section after you kill the process...

[2020-05-06 09:11] bajankristof commented on #48
The missing node name is only because I just started up a blank rebar3 project and didn't bother setting it up much. Anyway, thanks for the reply, unfortunately I can't provide more logs since this was all I got. Should I close this issue since neither of us is able to move forward with it?

[2020-05-06 09:40] ostinelli commented on #48
Ok. If you happen to get some actionable items or insights do not hesitate to reopen. Thank you.

[2020-05-06 09:40] #48 closed

[2020-06-17 00:41] DmitryKakurin opened #50 "Mixed-Cluster Versioning"
We have a cluster of nodes running our product that is compiled with syn 2.0.1.
I'm trying to update nodes one by one (using rolling update) to a newer version of our product compiled with syn 2.1.1.
But new nodes fail to start because of the following syn failure:
[code]

[2020-07-17 07:54] egze opened #51 "Does a GenServer register itself after restart in case of a crash?"
We are using Swarm now and it has an issue that if a registered pid dies and restarted by a supervisor, then it is not registered anymore. See https://github.com/bitwalker/swarm/issues/6

How does Syn deal with it?

[2020-07-17 08:07] egze commented on #51
Also, does Syn automatically restart processes on a new node if topology changes and the current node goes down?

[2020-08-18 17:38] ostinelli commented on #50
That is correct, it's a feature added in 2.1.

[2020-08-18 17:39] ostinelli commented on #51
Syn uses the `{via,Module,ViaName}` server reference to register processes. What happens after that is in the hands of Erlang. Have you tried it yourself?

[2020-08-18 18:40] DmitryKakurin commented on #50
@ostinelli what is the recommended way of migrating ever-running systems, that cannot be stopped, from 2.0 to 2.1 then?

[2020-08-20 07:34] ostinelli commented on #50
For a hot code upgrade, I need to provide a patch to syn. I need to evaluate the impact and see if I can grab the time to add it.

[2020-08-20 21:01] DmitryKakurin commented on #50
Thank you for considering a fix Roberto!
To possibly reduce the scope for your change, we don't use Erlang's hot code swapping. We have a cluster of multiple nodes, where the cluster as a whole must always be up, but individual nodes can go down at any moment. So we just do a rolling update to release new versions, where we stop nodes one by one and restart them running a newer version of our soft

[2020-08-26 07:12] ostinelli commented on #50
I've looked at syn `2.0` vs `2.1` internal differences and implications to evaluate what you're asking. Syn has quite evolved between the two versions. Mainly: mnesia was dropped in favor of ETS, and syn now uses a better syncing mechanism (which has different internals).  You can read the announcement [here](http://erlang.org/pipermail/erlang-questions/2020-January/098986.html).

Mixed-cluster ve

[2020-08-29 14:58] AndreyKlimchuk commented on #45
+1 to this feature. In my case I have a diverse cluster where not all nodes have need of global registration.

[2021-03-02 15:15] manuel-rubio opened #54 "Lookup faster than select for ETS"
Hi, a colleague show me using a benchmark than the use of `ets:select/2` is slower than `ets:lookup/2`:

[code]

In the implementation of the registry, even when it is not needed, you use it:

https://github.com/ostinelli/syn/blob/5c7aeaf979930fb9b761191f56f11a6769a8ab76/src/syn_registry.erl#L570

What's the advantage? I mean, I can see here:

[code]

You are using `{Name, Pid}` as the key and in

[2021-03-03 09:09] ostinelli commented on #54
Hi Manuel,
Regarding the benchmark, please note that syn uses `ordered_set` tables, which have their own rules in terms of performance. I'm not saying those results are invalid, just that syn uses a specific ETS set and it could be interesting to apply them to syn specifics rather that doing generic considerations. If you end up working on some performance improvements I'll be happy to take a look

[2021-03-03 09:10] #51 closed

[2021-03-03 15:37] manuel-rubio commented on #54
You're right in the case of groups, I mean, reading the email it's clear the tuple created with `{Element, Groups}` and `{Group, Elements}` performs a N:N relationship where a group could belongs to different elements and an elements to different groups... but I was pointing other case completely different where we are using `{Name, Pid}` and `{Pid, Name}` where the cardinality is 1:1 and instead

[2021-03-06 14:55] erlmachinedev opened #55 "syn_event_handler per process/group"
This discussion shouldn’t be considered as an issue, rather as a feature.

The main point that is Syn can be used by different applications under the common shared release.

[code]

This global setup listed above doesn’t meet the criteria:

1.  Each app can share it's own Syn space and manage process creation/exits by independent way;
2. The root app shouldn’t rewrite the event_handler config by i

[2021-05-07 16:50] tsenturk opened #57 "syn and syn_groups' local_member and member function args are not aligned"
Hi,

`syn:member` written as;

but `syn_groups:member` is declared as;

as I checked `syn_groups` other functions, to make alignment with them, seems `syn_groups:member` should declare as

like `syn_groups:leave` function.

There is same issue for `local_member` on `syn` and `syn_groups` modules.

I've fixed these issues on
https://github.com/tsenturk/syn/pull/new/fix-syn-groups-member-local-membe

[2021-05-07 19:56] tsenturk commented on #57
Yes, sure I can prepare another pull request for this. here; https://github.com/ostinelli/syn/pull/58

First, I've think like you mentioned in your comment then I've figured out that other `syn_groups` functions have `(GroupName, Pid)` like declaration except these two (`member`, `local_member`) therefore I've propose this change on `syn_groups` instead of `syn`.

about functionality, I'm not sure

[2021-05-07 20:41] ostinelli commented on #57
Unfortunately your PR has merge conflict because of recent changes in master.
Ok no worries, I will take this and fix the naming asap.

Thank you for your help.

[2021-05-07 20:59] tsenturk commented on #57
ops, I'm quite sure I did create without any conlift but after all it possible :) sorry about it.
I hope, I could help.
Your welcome & thank you for this project.

[2021-05-07 21:35] ostinelli commented on #57
All changes are now up. Thank you for your help.

[2021-05-07 21:35] #57 closed

[2021-06-13 00:05] silviucpp opened #60 "callbacks improvements"
Can you add also callbacks when a process join a group or a new pid is registered ? Right now I see callbacks are only when a pid leaves a group...

Silviu

[2021-06-14 10:50] ostinelli commented on #60
I don't really see a benefit in this, since contrary to a process leaving a group / unregistering (where it may have crashed), you're in control when you register a process / join a group. Basically, in the same method where you register a new pid / join a group you can call whatever it is that you need to call beforehand.

Do you have a specific case where you'd need such a callback?

[2021-06-14 10:54] ostinelli commented on #55
Hi @erlmachinedev, this makes sense and is a good suggestion. However, this addition would have to be retro-compatible with what we have now, where the priority would be given to the `Handler` arg in `register/3` and `join/3`, falling back to the handler specified in config.

Do you feel like providing a PR?

[2021-06-14 13:02] erlmachinedev commented on #55
@ostinelli Hi, sure, nice to see that we at the same ground here. Yep, will send a draft PR soon

[2021-06-14 15:39] silviucpp commented on #60
Hello, yes during a  between node A and B I receive that the processes on
the other node left the group and when connection goes back you merge the
states but in the app I don’t know that the processes are back . I eve
don’t know when merge was performed to call syn and see what processes are
in that group.

Having a callback called when the merge was completed and also when a
process joins the gr

[2021-06-29 22:22] #60 closed

[2021-07-01 06:47] roylez opened #61 "nodedown should trigger callbacks"
I find when a node is down, neither `on_process_exit` or `on_group_process_exit` is triggered. Is this behaviour by design, or am I doing something wrong?

[2021-07-02 09:03] ostinelli commented on #61
Hi, as per the [README](https://github.com/ostinelli/syn#callback-methods), those methods are called only on the node where the process was running. Processes are only monitored on the node they're running on by design.

What is your use case?

[2021-07-02 09:23] ostinelli commented on #54
Sorry for the late reply Manuel. A process can be registered under multiple names, hence the need for the tuple key `{Pid, Name}`. For simplicity / symmetry reasons, I've also kept `{Name, Pid}` in the related table.

[2021-07-02 21:50] silviucpp commented on #61
I'm facing the same problem. Just think to an IM application. You have chatting between users (which is possible using syn) and you have presence (the other user to know which is online/offline). Presence is not possible because you are not aware when a pid joins/leaves a group.

In my case I forked the repository and add callback on `add_to_local_table` and `remove_from_local_table` . This works

[2021-07-02 23:12] roylez commented on #61
I have a server monitoring client nodes elsewhere. The clients are all in one group, and ideally I could trigger some callbacks when they join/leave the group on the server. As I have read from previous issues that it is by design join callbacks are not implemented because at joining time we have a lot of flexibility to do whatever we want, but lacking an easy way to detect client disconnection on

[2021-07-03 17:36] ostinelli commented on #61
@roylez what do you mean that you are monitoring "client nodes" elsewhere, that are all in one group? I'm not following, since syn does not monitor nodes.

again, not sure what you mean with "client". Can you clarify?

[2021-07-03 23:22] roylez commented on #61
Sorry I did not make myself clear. Some nodes are made to be the "servers", and they manage other nodes in the "client" group. Clients could connect and disconnect, sometimes without notice, and servers are expected to act accordingly on server  side when clients join or leave.

[2021-07-04 07:36] ostinelli commented on #61
@roylez, syn registers PIDs, not nodes. Syn cares about processes being alive, not "clients being connected". So unless I understand what you are referring to there isn't much I can do.

[2021-07-04 07:39] ostinelli commented on #61
@silviucpp you are aware when a process joins because _your code_ is responsible for making a process join a group. You are aware when a PID leaves a group because the appropriate callback is called.

Now, you've raised the question about netsplits in another thread that you then closed to go on with your on version. I've taken a note and will solve this as well, which BTW is a rather rare conditi

[2021-07-04 07:50] silviucpp commented on #61
@ostinelli I think discussion is too complex. There are lot of corner cases that needs to be covered in case the callbacks are missing from syn.

For example :

1. "**you are aware when a process joins because your code** " - yes you are right. but without a callback in syn I need to also implement the logic that makes all nodes in the cluster aware about the join. 2x traffic for reinventing the w

[2021-07-04 08:51] ostinelli commented on #61
"2x traffic"? I love how you open a ticket, close it, create your own solution without considering to participate in a community solution, then assert that _your_ solution would need to "makes all nodes in the cluster aware about the join" (why?) and hence double the traffic ¯\_(ツ)_/¯

Let's leave it like this, anyway thank you for your input as I will include some options for improved callbacks.

[2021-07-04 10:08] roylez commented on #61
yes, indeed syn only care about pids. But when nodes disconnects, pids are removed from local tables as well. In this case, callbacks are not fired--because their nodes are gone. But this is a valid use case, as people may want to do something when this happens.

[2021-07-04 17:58] silviucpp commented on #61
@ostinelli  I don't think it's the place to be rude to each other. I opened a ticket, provided you my use case and closed it because 15 days I didn't got any feedback on it. I thought you are not inserted in adding more callbacks/cover my use case so what was the point on keeping the ticket opened ? It's your project (good job btw) and you are the one deciding what ideas from community you want to

[2021-08-02 12:32] #54 closed

[2021-08-04 18:33] ostinelli commented on #55
If you've not started work, please hold on as I'm currently considering the option of moving to `v3`. I will update asap.

[2021-08-04 18:57] ostinelli commented on #55
I'm currently thinking whether it'd be useful to add scopes to syn, so that you'd do something similar to:

[code]

This would allow to create "subsets" of clusters to improve scalability, but also to specify different behaviors per `Scope`.

Then you could:

[code]

In this case, when a process is registered / unregistered / joined / leaves, the `CallbackModule` of the Scope will be used. Would t

[2021-08-04 19:21] erlmachinedev commented on #55
@ostinelli Hi, I agree that it's better to wait when your implementation is ready (sorry about delay with PR, I am a little bit lazy during this summer).

Scopes can make code more structured as well, yep it's better to wait v3

[2021-09-29 14:05] alesasnouski opened #64 "Add time to CustomEventHandler:resolve_registry_conflict"
Custom resolve_registry_conflict function can also rely on Time.
Can we extend (Name, {Pid1, Meta1}, {Pid2, Meta2}) tuples with Time like in do_resolve_registry_conflict :
Name, {Pid1, Meta1, Time1}, {Pid2, Meta2, Time2} ?

[2021-09-30 07:50] ostinelli commented on #64
Yes, and in fact this is how `v3` handles it:
https://github.com/ostinelli/syn/blob/v3/src/syn_event_handler.erl#L99

`v2` is frozen, I'll need a little time to complete the new version before it becomes available. That said, time is obviously a far from perfect resolution variable in a distribution environment, but it's the one we've got..

[2021-10-01 11:31] #64 closed

[2021-10-01 11:38] ostinelli commented on #61
@roylezthis due to your request and other considerations I've been working on syn [`v3`](https://github.com/ostinelli/syn/tree/v3), which defines a new callback mechanism that should address your original ask. These callbacks will be called on every node, not only during standard operations but also during netsplits.

I'll need a little time to complete, but it will be in this new version. Thank y

[2021-10-01 11:38] #61 closed

[2021-10-01 11:41] ostinelli commented on #55
This ask has been one of the reasons for creating syn [`v3`](https://github.com/ostinelli/syn/tree/v3). This new version allows to define registration scopes, and therefore the callbacks can differentiate action based on those. This should cover your use case.

I'm still working on the new version and it will take me a little while, so thank you for your suggestion and patience.

[2021-10-01 11:41] #55 closed

[2021-10-01 11:42] ostinelli commented on #45
This has been added in the current [`v3`](https://github.com/ostinelli/syn/tree/v3) rework, which also allows to specify scopes that basically create sub-clusters.

This should cover your use case. Thank you for your input and patience, it will take me still a little while to complete this work.

[2021-10-01 11:42] #45 closed

[2021-10-01 11:44] ostinelli commented on #50
I'm currently working on syn v3, and I am now versioning messages sent between nodes, like [so](https://github.com/ostinelli/syn/blob/v3/src/syn_registry.erl#L271). This should allow to have mixed-cluster versioning and hopefully cover this case.

Thank you for your input and patience, it will take me still a little while to complete.

[2021-10-01 11:44] #50 closed

[2021-10-01 11:48] ostinelli commented on #47
I'm currently working on `v3` so I'm reviewing all open issues.

I think that choosing a process randomly in a group to send a message is an application-specific matter, as the type of algorithm might have a relation with the reason one is choosing a process from a group.

It looks to me this can be left to the developer, by retrieving the processes (and eventually, getting only the local ones) an

[2021-11-01 17:58] lud opened #65 "Event handler not called"
Hi, I was trying to see if I could properly shutdown a process on name conflict (I need it to finish work before being killed).

But I cannot have my event handler to be called. (By the way the docs tells that `syn:set_event_handler/1` returns `ok` but that is not the case.

Here is my test code, that I run with two shells as `iex --sname alice tt.exs` and the "bob" version, and then call `H.conne

[2021-11-01 18:58] ostinelli commented on #65
Hello, I don’t seem to see how you are creating a conflict. You’ll need a rather concurrent situation to experience one, which can very rarely be created by hand (I, for one, have never been able to). You can see an example that generally is able to create this concurrency [here](https://github.com/ostinelli/syn/blob/3.0.0/test/syn_registry_SUITE.erl#L1435).

 BTW is `on_process_joined/5` called?

[2021-11-01 19:33] lud commented on #65
To generate the conflict I just run `iex --sname alice tt.exs` and `iex --sname bob tt.exs` in two shells.

This is the output I get in the alice shell:

[code]

Then I manually connects the two nodes:

[code]

And as you can see the conflict is resolved but my handler is not called.

[2021-11-01 19:59] ostinelli commented on #65
Got it, thank you for your clarification. The issue is in the callback specifications which are wrong. The method is `resolve_registry_conflict/4` (arity of 4, not 3).

I've just pushed a `v3.0.1` to cover both for the `ok` return value and the wrong specs. See new docs here:
https://hexdocs.pm/syn/syn_event_handler.html#c:resolve_registry_conflict/4

Let me know if this solves your issue.

[2021-11-01 20:24] lud commented on #65
Thank you very much! I think now I may have found a bug. If you use my updated code below, start the two shells, call `X.start_link` on both shells, and then call `H.connect`, it looks like the name resolution and the event handler run properly _but_ none of the processes are killed.

[code]

[2021-11-01 20:29] ostinelli commented on #65
This is intended behavior.

https://hexdocs.pm/syn/syn_event_handler.html#content

Than you for your report!

[2021-11-01 20:29] #65 closed

[2021-11-01 20:41] lud commented on #65
Oh indeed, that will let me do what I whant, so everything is fine. Thank you.

[2021-11-01 22:26] lud commented on #65
Hi again. It seems to work but then `GenServer.whereis(X.name())` returns `nil` on one of the two nodes (generally the one where the process was stopped, but not always) althoug the nodes are connected. `X.name` is `{:via, :syn, {:spool_scope, :myspool}}`.

[2021-11-01 23:01] ostinelli commented on #65
It’s kind of hard to follow you in those manual experiments. I don’t know the sequence and timings of your operations. There’s comprehensive test suite that covers registry resolution. If you think to have found a bug, please write a test to reproduce it and open a new issue so that I can address it. Thank you.

[2021-11-01 23:30] lud commented on #65
Sure, I understand, I'll try to make you a test.

[2021-11-02 10:27] ostinelli commented on #65
Otherwise, a small easy example will do as well :)

Please note though that if you are using the code above it's normal that you are experiencing inconsistencies:

https://hexdocs.pm/syn/syn_event_handler.html

In the code above, you're always returning `pid_a` which is not necessarily the same on every node.

[2021-11-02 10:29] ostinelli commented on #65
As an additional note: if you need to do some cleanup that doesn't _have_ to be in the process itself, you may consider using `on_process_unregistered/5` instead, so that you don't have to mess with registry resolution yourself.

[2021-11-02 10:54] lud opened #66 "Names are not shared between nodes after a conflict resolution"
Testing with two nodes, after a conflict resolution, `syn:whereis_name` will sometimes return `undefined` on one of the two nodes. It can be the node where the process was shutdown (general case), it can be the other node, or it will also work as intended and the call on both node will return the same pid (in its local form and its remote form depending on the node the function is called).

Please

[2021-11-02 13:30] ostinelli commented on #66
You have an issue in your resolution method. You've defined it like this:

[code]

You need to think concurrent. With your definition, the method `proc_lib:stop/1` will be called twice, once on the node1, and once on the node2. However, this method will work only the first time it is called: the second time it will raise an error as the process has already been killed, see [here](https://erlang.or

[2021-11-02 13:30] #66 closed

[2021-11-02 13:57] lud commented on #66
I have absolutely no error reports with `make test` unfortunately. So alright, it seems too work fine, although a badly implemented handler will leave syn with an unconsistent state.

My process will have to cleanup itslef (finish monitoring stuff and exit, it just need to not exit quickly to let some other linked processes finish, there is no cleanup outside of the process.)

Sorry for the hassle

[2021-11-02 14:03] ostinelli commented on #66
You are using slave nodes so of course you need to look into their logs. One way to do so is by calling [`send_error_logger_to_disk/0`](https://github.com/ostinelli/syn/blob/master/test/syn_test_suite_helper.erl#L310) in the main syn application and then open the corresponding log files.

Nobody ever said that distributed programming is easy :) This is a constraint on the resolution mechanism, the

[2021-11-02 14:07] lud commented on #66
Haha I did not know much about slave notes before yesterday. I also discovered that Ctrl+C'ing the tests will leave nodes alives and `empd -stop` does not stop them so I had to kill the OS processes.

Also I did not use the `>=` operator check time ordering because in my manual tests yesterday I could not be sure that the arguments had the same order on both nodes. Although there is metadata in su

[2022-01-04 09:48] ahovgaard opened #67 "Support registering metadata in via-tuples"
I would like to suggest extending the via-tuple support to allow registering metadata as well. This would enable one to do as follows:
[code]

For reference, registering a value in a via-tuple is already supported by the Elixir Registry, see: https://hexdocs.pm/elixir/1.12/Registry.html#module-using-in-via

If this feature is considered appropriate and useful, I would like to implement it and make

[2022-01-04 10:29] ostinelli commented on #67
Sounds good! I'd be happy to review & merge in.

[2022-01-04 19:17] #67 closed

[2022-01-08 11:02] ostinelli commented on #67
This is now in `3.2.1`.

[2022-03-30 13:40] immnas opened #71 "whereis_name/2 export is missing on syn.erl"
whereis_name/2 export is missing on syn.erl ..
its says undefined.

[2022-03-30 14:13] ostinelli commented on #71
What says it?

`whereis_name/2` is an internal method on `syn`. Compatible registries that use the `via` module notation only need [`whereis_name/1`](https://www.erlang.org/doc/man/global.html#whereis_name-1) AFAIK, which is exported [here](https://github.com/ostinelli/syn/blob/3.2.2/src/syn.erl#L68).

Can you provide clarity on what you are doing and trying to achieve?

[2022-03-31 07:00] immnas commented on #71
Hi,

I am calling syn:add_node_to_scopes([device]).
then i am checking syn:whereis_name(device,Key).

[2022-03-31 07:20] ostinelli commented on #71
Well you shouldn't. Docs are pretty clear, use [lookup/2](https://hexdocs.pm/syn/syn.html#lookup/2).

[2022-03-31 07:20] #71 closed

[2022-03-31 07:22] immnas commented on #71
okay sorry i missed that. if i have send message to that PID. do i have to use some other API.

[2022-05-24 14:22] dziaineka opened #72 "What solution use instead syn.unregister_and_register?"
Hello.

Syn version 2.* had `syn.unregister_and_register` function to make this operations atomic. Is it plans to make the same function in Syn 3.0 or another solution exists?

Thank you for your work!

[2022-05-24 17:27] ostinelli commented on #72
This operation was not atomic, as it would still need the propagation to happen to the rest of the cluster. Rather, this helper method allowed to avoid a potential `{error, taken}` response to a registration call issued immediately after an unregistration call while waiting for the propagation to happen.

Syn v3 has different internals: when registering / unregistering a process the local database

[2022-05-24 17:27] #72 closed